/*
 * Lead Generation Landing Page Styles
 * Author: Vanessa Coles
 * Author URL: http://vcoles.com
 * License:
 */

 /* ------------------------------------------------------------- */
/* Bootstrap Overrides */
/* ------------------------------------------------------------- */

/* Primary */

.bg-primary
.badge-primary {
	background: #ff6b2f !important;
}

.text-primary {
	color: #ff6b2f !important;
}

/* Info */

.bg-info,
.badge-info {
	background: #167bff !important;
}

.text-info {
	color: #167bff !important;
}

/* ------------------------------------------------------------- */
/* Clearfix  */
/* ------------------------------------------------------------- */

.cf {
	content: "";
  display: table;
  clear: both;
}

/* ------------------------------------------------------------- */
/* Scaffolding */
/* ------------------------------------------------------------- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	box-sizing: inherit;
}

body {
	position: relative;
	color: #333;
	font-family: "Barlow", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-weight: normal;
	line-height: 1.6;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Lato", sans-serif;
	font-weight: 700;
}

strong {
	font-weight: 700;
	font-weight: 900;
}

/*
 * Responsive images
 */

img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

/*
 * Helper classes
 */

.flex { /* Create new flex class to replace Bootstrap .d-flex. */
	display: flex !important;
}

.v-center { /* Horizonally and vertically center content. */
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

/* ------------------------------------------------------------- */
/* Elements */
/* ------------------------------------------------------------- */

/*
 * Buttons
 * Override Bootstrap defaults
 */

.btn {
	padding: .95em 2.25em; /* 15px 36px */
	font-size: .938em;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 2px;
	outline: none;
	box-shadow: none;
}

.btn-primary {
	background: #ff6b2f;
 	border-color: #ff6b2f;
}

.btn-primary:hover,
.btn-primary:active {
	background: #ff530d;
	border-color: #ff530d;
}

.btn-info {
	background: #167bff;
	border-color: #167bff;
}

.btn-info:hover,
.btn-info:active {
	background: #005bd1;
	border-color: #005bd1;
}

/* ------------------------------------------------------------- */
/* Layout */
/* ------------------------------------------------------------- */

.site {
	position: relative;
}

.container {
	max-width: 1400px; /* Increase content width. */
}

.container,
.row {
	height: 100% !important;
}

.section {
	position: relative;
	padding: 7.5em 0;
}

.container_no-pad,
.section_no-pad {
	padding: 0;
}

.section-header {
	margin-bottom: 5em;
	text-align: center;
}

/* ------------------------------------------------------------- */
/* Header | Top Content */
/* ------------------------------------------------------------- */

.back-to-top {
	position: fixed;
	bottom: 35px;
	right: 35px;
	padding: .35em .65em;
	color: #fff;
	font-size: 1.75em;
	background: #2279ff;
	z-index: 999999;
}

.top-bar {
	padding: .75em 0;
	color: rgba(255,255,255,.75);
	background: #111;
}

.site-header {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	background: #fff;
/*	border-top: 7px solid #167bff; */
	z-index: 999;
}

.logo {
	margin: 0;
	font-size: 1.35em;
}

a.logo {
	color: #222;
}

/*
 * Navigation
 */

.navigation {
	width: 100%;
	background: #fff;
	border-bottom: 7px solid rgba(0,0,0,.15);
	box-shadow: 0 3px 15px rgba(0,0,0,.15);
}

.navbar {
	padding: .75em 0;
}

.navbar-brand {
	display: inline-block;
	position: relative;
}

.navbar-toggler {
	padding: .5em;
	border-radius: 0;
}

/* The menu */

.nav-item {
	margin: 0 1em;
}

.nav-link {
	color: rgba(0,0,0,.65);
	text-transform: uppercase;
	font-weight: 700;
	transition: all .3s ease-in-out;
}

/*
.nav-item.active .nav-link {
	color: #4793ff;
}
*/

.nav-link:hover {
	color: #4793ff;
}

.btn-find-agent {
	padding: 0.750em 2em;
}

/* Sticky nav */

.fixed-nav {
	position: fixed;
	top: 0;
	left: 0;
}

/*
 * Section - Hero
 */

.hero {
	position: relative;
	width: 100%;
	min-height: 95vh;
	height: 100%;
	background: url('../img/business-woman-alt_cropped.jpg') center top no-repeat;
	background-size: cover;
}

.hero::before {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #164277;
	opacity: .35;
}

.hero .container,
.hero .hero-content,
.hero .hero-content .row {
	min-height: inherit; /* Inherit min-height from parent container. */
}

.hero-content {
	position: relative;
	height: 100%;
	z-index: 5;
}

.hero-title {
	margin-top: 0;
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 3.3em;
	font-weight: 900;
	letter-spacing: -.5px;
}

/* ------------------------------------------------------------- */
/* Main Content */
/* ------------------------------------------------------------- */

/*
 * Section - Info
 */

.section-info .row {
	position: relative;
}

.info-box-wrapper {
	background: #111;
}

/*
.info-box-wrapper:hover {
	background: #138496;
}
*/

.slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #2279ff;
	z-index: 1;
}

.info-box {
	position: relative;
	padding: 6.5em 3em;
	height: 100%;
	text-align: center;
	z-index: 5;
}

.info-icon-wrapper {
	margin: 0 auto .5em auto;
	max-width: 64px;
	width: 100%;
	color: #ff6b2f;
	font-size: 2.5em;
}

.info-title {
	margin-bottom: 1em;
	color: #fff;
	font-size: 1.2em;
}

.info-text {
	margin-bottom: 0;
	color: rgba(255,255,255,.65);
}

.info-box:hover .info-text {
	color: rgba(255,255,255,.65);
}

/*
 * Section - Rating
 */

.rating-content {
	text-align: center;
}

.rating-icon-svg {
	margin: 0 auto 1.75em;
	max-width: 150px;
	width: 100%;
}

.rating-text {
	margin-bottom: 3em;
}

.rating-header {
	margin-bottom: 1em;
}

/*
 * Section - Sellers, Buyers
 */

.section-sellers,
.section-buyers {
	background: #f2f2f2;
}

.sellers-img,
.buyers-img {
	width: 100%;
	min-height: 500px;
	height: 100%;
	background-size: cover;
}

.sellers-content,
.buyers-content {
	width: 80%;
	margin: 7.5em 0;
}

.sellers-label,
.buyers-label {
	display: inline-block;
	padding: .75em 1.25em;
	margin-bottom: 2.5em;
	color: #1c7aff;
	font-size: 100%;
	font-family: "Lato", sans-serif;
	font-size: 1em;
	font-weight: 900;
	text-transform: uppercase;
	background: #d7e7ff;
	border-radius: 2px;
	transition: all .3s ease-in-out;
}

.section-sellers:hover .sellers-label,
.section-buyers:hover .buyers-label {
	color: #fff;
	background: #1c7aff;
}

.sellers-heading,
.buyers-heading {
	margin-bottom: 1.1em;
	color: #444;
	font-size: 1.55em;
	font-weight: 900;
	line-height: 1.45;
}

.sellers-lead,
.buyers-lead {
	color: rgba(0,0,0,.65);
	font-family: "Lato", sans-serif;
	font-weight: 400;
	margin-bottom: 1.5em;
}

.sellers-text,
.buyers-text {
	color: #666;
}

/*
 * Section - Plans
 */

.section-plans {
	overflow: hidden;
}

.section-plans .section-title {
	margin-bottom: 1em;
	color: #fff;
}

.section-plans .section-tagline {
	color: rgba(255,255,255,.85);
}

.section-plans .section-tagline small {
	display: block;
	margin-top: 1em;
	color: rgba(255,255,255,.35);
	font-style: italic;
}

.section-plans {
	background: url('../img/business-people-blurred.jpg') center top no-repeat;
	background-size: cover;
}

.section-plans::before {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #1e2e39;
	opacity: .75;
	z-index: 5;
}

.section-plans .container {
	position: relative;
	z-index: 10;
}

/* Plan Card */

.plan-card {
	border: none;
/*	box-shadow: 0 3px 10px 3px rgba(0,0,0,.25); */
}

.plan-card:hover {
/*	box-shadow: 0 7px 20px 7px rgba(0,0,0,.3); */
}

/* Card header */

.plan-card-header {
	padding: 4em 0;
	color: #f2f2f2;
	text-align: center;
	background: #222;
	border-bottom: none;
	transition: all .3s ease-in-out;
}

.plan-card:hover .plan-card-header {
	background: #2279ff;
}

.plan-card-hover .plan-card-header {
	background: #ff6b2f;
}

.plan-price {
	font-family: "Lato", sans-serif;
	font-size: 4.5em;
	font-weight: 700;
}

.plan-price-sm  {
	font-size: ;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1.5px;
}

.plan-card-body {
	padding: 2.25em 2.75em;
	color: #555;
	background: #f2f2f2;
	transition: all .3s ease-in-out;
}

.plan-card:hover .plan-card-body {
	color: #fff;
	background: #2279ff;
}

.plan-card-hover .plan-card-body {
	background: #fff;
}

.plan-card-body h4 {
	margin-bottom: 1em;
	font-size: 1.25em;
	font-weight: 900;
}

/* Card list items */

.plan-details {
	margin: 0;
	padding: 0;
}

.plan-details:first-child {
	margin-bottom: 2em;
}

.plan-details li {
	position: relative;
	margin-bottom: 1em;
	font-size: 1.1em;
	list-style: none;
}

.plan-details li::before {
	display: inline-block;
	content: "\f120";
	top: 0;
	left: 0;
	margin-right: 1em;
	color: #60963a;
	font-family: "Ionicons";
	transition: all .3s ease-in-out;
}

.plan-card:hover .plan-details li:before {
	color: #fff;
}

.plan-details-extra li {
	font-weight: 700;
}

/* Plan footer */

.plan-card .card-footer {
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.plan-card-footer {
	padding: 0;
}

.plan-card-footer .btn {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.plan-card-footer .btn-cta {
	padding-top: 1.25em;
	padding-bottom: 1.25em;
}

.plan-card:hover .btn-cta {
	color: #ff6b2f;
	background: #fff;
	border-color: #fff;
	outline: none;
	box-shadow: none;
}

/*
 * Section - Contact
 */

.section-contact {
	position: relative;
	padding: 3.5em 0;
	background: #191919;
}

.contact-heading {
	margin-bottom: 1em;
	color: #f2f2f2;
}

.contact-text {
	margin: 0 4em 0 0;
	color: rgba(255,255,255,.25);
}

.contact-heading {
	line-height: 1.5;
}

/* ------------------------------------------------------------- */
/* Footer */
/* ------------------------------------------------------------- */

.site-footer {
	color: rgba(255,255,255,.25);
	font-size: .95em;
	background: #111;
}

.footer-content {
	margin-bottom: 3.75em;
	padding: 4.5em 0;
	border-bottom: 1px solid rgba(255,255,255,.03);
}

.footer-logo a {
	text-decoration: none;
}

.footer-widget-title {
	position: relative;
	margin-bottom: 2em;
	color: #fff;
	font-size: 1.25em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.footer-widget-title::after {
	display: block;
	content: "";
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 50px;
	height: 4px;
	background: #2778ff;
}

.footer-ul {
	margin: 0;
	padding: 0;
}

.footer-li {
	margin-bottom: .5em;
	list-style: none;
}

.footer-link {
	color: rgba(255,255,255,.5);
	transition: all .3s ease-in-out;
}

.footer-link:hover {
	color: rgba(255,255,255,.85);
	text-decoration: none;
}

.footer-logo a {
	color: #fff;
}

.disclaimer-text,
.copyright-text {
	margin: 0;
	color: rgba(255,255,255,.15);
}

.copyright {
	padding: 2em 0;
}

/* ------------------------------------------------------------- */
/* Media Queries */
/* ------------------------------------------------------------- */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {

	/* Navigation */

	.navbar-nav {
		margin-top: 1em;
	}

	.navbar-nav li {
		margin-left: 0;
		margin-bottom: 12px;
	}

	.

	/* Section - Plans */

	.plan-card {
		margin-bottom: 3em;
	}

	.plan-card-last {
		margin-bottom: 0;
	}

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {

	/* Section - Info */

	.info-box {
		padding-top: 3em;
		padding-bottom: 3em;
	}

	/* Section - Contact */

	.contact-content {
		margin: auto;
		width: 75%;
	}

	.contact-text {
		margin-right: 0;
		margin-bottom: 3em;
		text-align: center;
	}

	/* Footer */

	.footer-links .col-md-6 {
		margin-bottom: 2em;
	}

	.footer-links .col-md-6:last-child {
		margin-bottom: 0;
	}

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

}